{% extends 'base.html.twig' %}

{% block title 'Connexion' %}

{% block body %}

    <div class="container mt-4">
        <h1>Connexion</h1>
        {% include "pages/property/_formConn.html.twig" with form %}
    </div>

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}

{% endblock %}