{% extends 'base.html.twig' %}

{% block title Property.title %}

{% block body %}

<div class="container mt-4">
    <h1>Éditer le bien</h1>
    {{ include('admin/property/_form.html.twig', {button: 'Editer'}) }}
</div>

{% endblock %}